page-tower-details {
    .container{
      height: 90%;
    }

  .left-shadow {
		-webkit-box-shadow: 0 0 5px 5px #000056;
		box-shadow: 0 0 15px 5px #372E55;
		background: #372E66;
		border-radius: 10px;
	}

	.detail-channels {
		-webkit-box-shadow: 0 5px 5px 0 #000056;
		box-shadow: 0 5px 5px 0 #000056;
	}

	ion-icon {
		font-size: 32px;
		color: #0e9fcd;
		margin-top: 6px;
	}

	.item-detail {
		display: flex;
		align-items: center;
		width: 100%;
		margin-left: 15px;
	}
	.m-l {
		margin-left: 10px;
	}

	.size-15 {
		font-size: 15px
	}

	ion-scroll { 
    height: 200px;
    white-space: nowrap;
  }

	.rad-5 {
		border-radius: 5px !important;
	}
}